dotfiles/.local/bin/shorinclip
dotfiles/.config/waybar-niri-Win11Like/colors.css
dotfiles/.config/waybar/colors.css
dotfiles/.config/fuzzel/colors.ini
dotfiles/.config/kitty/themes/matugen.conf
dotfiles/.local/share/fcitx5/theme/Matugen/theme.conf
dotfiles/.config/mako/colors.conf
dotfiles/.config/btop/themes/matugen.theme
dotfiles/.config/cava/themes/your-theme
dotfiles/.config/yazi/theme.toml
dotfiles/.config/wlogout/colors.css
dotfiles/.config/gtk-3.0/colors.css
dotfiles/.config/gtk-3.0/bookmarks
dotfiles/.config/gtk-4.0/colors.css
dotfiles/.config/niri/colors.kdl
dotfiles/.config/swayosd/colors.css
dotfiles/.config/fastfetch/config.jsonc
dotfiles/.config/startship.toml
dotfiles/.local/bin/checkallupdates
dotfiles/.local/bin/check-battery
dotfiles/.local/bin/clean
dotfiles/.local/bin/lsi
dotfiles/.local/bin/media-info
dotfiles/.local/bin/mirror-update
dotfiles/.local/bin/pac
dotfiles/.local/bin/pacr
dotfiles/.local/bin/pacrrr
dotfiles/.local/bin/pak
dotfiles/.local/bin/pakr
dotfiles/.local/bin/preview
dotfiles/.local/bin/screenrec
dotfiles/.local/bin/shorinclip
dotfiles/.local/bin/sysup
dotfiles/.local/bin/video2gif
dotfiles/.local/bin/niri-blur-toggle
dotfiles/.local/bin/pacd
dotfiles/.local/bin/li
dotfiles/.local/bin/vir
dotfiles/.config/fcitx5/conf/notifications.conf

*.bak.*
